.container {
  padding: 1em 0;
}

img {
  height: 100px;
}

#lezioni img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni img, #steps img {
  margin-top: 1em;
}


#lezioni {
  text-align: center;
}

#lezioni.container, #why.container {
    background-color: #F2F2CD;
}

#steps {
  text-align: center;
}

#why {
  text-align: center;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

#why.container .col-xs-12 {
  margin-top: 1em;
  padding: 0 1em;
}

@media all and (min-width: 768px) and (max-width: 991px) {

}


@media all and (min-width: 992px) {
  .container {
    /* width: 992px; */
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 100px;
  }
  .row::after {
    content: '';
    display: table;
    clear: both;
  }

  #steps.container, #why.container {
    background-color: #f9f9f9;
  }

  #lezioni.container {
    background-color: white;
  }

  img {
    height: 200px;
  }

  #why img {
    height: 260px;
    margin-top: 80px;
  }

  #why.container .col-xs-12 {
    margin-top: 0;
    padding: 0;
  }

  #lezioni img, #steps img {
    margin-top: 0;
  }

  h3 {
    padding: 10px;
  }

}
