.container {
  padding: 0 10px ;
}

img {
  height: 100px;
}

#lezioni img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni img, #steps img {
  margin-top: 1em;
}


#lezioni {
  text-align: center;
}

#lezioni.container, #why.container {
    background-color: #F2F2CD;
}

#steps {
  text-align: center;
}

#why {
  text-align: center;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
  box-sizing: content-box;
}

#why.container .col-xs-12 {
  margin-top: 1em;
  padding: 0 1em;
}

/* MEDIA QUERY */
@media all and (min-width: 992px) {
  .container {
    margin-top: 100px;
    max-width: none;
    width: 992px;
  }
  
  .row::after {
    content: '';
    display: table;
    clear: both;
  }

  #steps.container, #why.container {
    background-color: #f9f9f9;
  }

  #lezioni.container {
    background: none;
  }

  img {
    height: 200px;
  }

  #why img {
    margin-top: 80px;
  }

  #why.container .col-xs-12 {
    margin-top: 0;
    padding: 0;
  }

  #lezioni img, #steps img {
    margin-top: 0;
  }

  h3 {
    padding: 1em;
  }

  h1 {
    padding-bottom: 1em;
  }
}
